<othernav></othernav>
<ion-content class="container">
  
  <div class="text-center onboardBox">
     <h4 class="bold">Almost done!</h4> 
    <h4 class="lighter">Just a little more info to help us connect you with others like you.</h4>
  </div>
  
  <div class="inputBox paddingTop30">
    <label class="item item-input onItem">
      <span class="input-label">Age</span>
      <input type="text" ng-model="userData.cancer">
    </label>
  </div>  
  
  <div class="inputBox paddingTop15">
    <label class="item item-input onItem">
      <span class="input-label">Location</span>
      <input type="text" ng-model="userData.cancer">
    </label>
  </div>

  <div class="inputBox paddingTop15">
    <label class="item item-input onItem">
      <span class="input-label">Bio - tell others a little about you</span>
      <input type="text" ng-model="userData.cancer">
    </label>
  </div>

  <div class="buttonsBox paddingTop30">
    <a class="button button-block csRed whiteText noBorder bigRaisedButton" ng-click="addData(userData)">DONE!</a>
  </div>

</ion-content>