<navbar></navbar>
<ion-content class="container">

    <label class="item item-input">
      <span class="input-label">Your Name</span>
      <input type="text" ng-model="userData.name" placeholder="{{userData.name}}">
    </label>
    <label class="item item-input">
      <span class="input-label">Bio</span>
      <textarea type="text" ng-model="userData.bio"></textarea>
    </label>
    <label class="item item-input">
      <span class="input-label">Cancer</span>
      <input type="text" ng-model="userData.cancer">
    </label>
    <h3>You're a different type of user now? No problem.</h3>
    <div class="list">
      <label class="item item-radio">
        <input type="radio" value="fighter" ng-model="userData.level" name="group">
        <div class="item-content">
          Fighter
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" value="survivor" ng-model="userData.level" name="group">
        <div class="item-content">
          Survivor
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
      <label class="item item-radio">
        <input type="radio" value="supporter" ng-model="userData.level" name="group">
        <div class="item-content">
          Supporter
        </div>
        <i class="radio-icon ion-checkmark"></i>
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="addData(userData)">Update Info!</button>
    <div class="jumbotron">
      <div>Select an image file: <input type="file" id="fileInput" /></div>
      <div class="cropArea">
        <img-crop image="myImage" result-image="myCroppedImage"></img-crop>
      </div>
      <div><img ng-src="{{myCroppedImage}}" /></div>
      <button class="btn btn-block btn-danger" ng-click="saveImage(myCroppedImage)">Save Image</button>
    </div>
</ion-content>
<tabs></tabs>
