<navbar></navbar>
<ion-content>
  <div class="container">
    <div ng-repeat="user in users">
      <a href="/#/userDetail/{{user.auth.uid}}">
        <div class="list">
          <div class="item item-button-right">
            <img class="exploreAvatar"src="img/avatar.jpg">
            <h2>{{user.name}}</h2>
            <p>{{user.level}}</p>
            <p>{{user.cancer}}</p>
            <a class="buttonRound rightButt" ng-click="addFriend()">
             <i class="icon ion-plus-circled"></i>
           </a>
          </div>
        </div>
      </a>
    </div>
  </div>
</ion-content>
<tabs></tabs>