<navbar></navbar>
<ion-content>
  <div class="container">
    <div ng-repeat="user in users">
      <a href="/#/userDetail/{{user.auth.uid}}">
        <div class="card">
          <div class="item item-text-wrap">
            <h1>{{user.name}}</h1>
            <p>{{user.level}}</p>
            <p>{{user.cancer}}</p>
            <a class="buttonRound rightButt" ng-click="addFriend()">
             +
           </a>
          </div>
        </div>
      </a>
    </div>
  </div>
</ion-content>
<tabs></tabs>