<navbar></navbar>
<ion-content>
  <div class="container">
    <div ng-repeat="user in users">
      <a href="/#/userDetail/{{user.auth.uid}}">
        <div class="list">
          <div class="item item-avatar flex" href="#">
            <img class="" ng-src="{{user.profilePic}}">
            <h2>{{user.name}}</h2>
            <div class="middle cancer-sub-div">
            <div class="typeCircle fightBlue f-row middle"></div>
            <h4 class="cancerExplore f-row middle">{{user.cancer}}</h4>
            </div>
              <span class="item-note exAddButton whiteText">
                +
              </span>
          </div>
        </a>
      </div>
    </div>
  </div>
</ion-content>
<tabs></tabs>
