<ion-content>
  <div class="container">
    {{user.name}}
    <label class="item item-input">
      <span class="input-label">Post</span>
      <input type="text" ng-model="post.text">
    </label>
    <button class="button button-block button-positive" ng-click="addPost()">New Post</button>
  </div>
  <div ng-repeat="item in floor">
    <div class="card">
      <div class="item item-text-wrap">
        <h1>{{item.text}}</h1>
        <h1>{{item.user}}</h1>
      </div>
    </div>
  </div>
</ion-content>
