<navbar></navbar>
<ion-content>
    <div class="post-detail-box">
        <div class="row">
            <div class="col col-20">
                <img style="border-radius:100%; height:50px" ng-src="{{currentPost.profilePic}}" alt="" />
            </div>
            <div class="col">
                <h3 style="display: block; color: #6E6E6E">{{currentPost.user}}</h3>
                <div style="display:block">
                    <a style="font-size:13px; font-weight: normal; color: #6E6E6E">
                        <i style="color:#48BB48;font-size:13px" class="icon ion-ios-location"></i>
                        Oakland, CA
                    </a>
                    <a style="font-size:13px; font-weight: normal; padding-left:17px; color: #6E6E6E">
                        <i style="color:#5677FC;font-size:13px" class="icon ion-clock"></i>
                        <span am-time-ago="currentPost.timestamp"></span>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-80" style="color: #6E6E6E; padding-bottom:30px">
                <p>{{currentPost.text}}</p>
            </div>
            <div class="col text-center" style="margin-left: 32px">
                <p style="font-size: 20px; margin-bottom: -10px; color: #6E6E6E">
                    {{currentPost.likes}}
                </p><br>
                <i ng-class="{ redIcon: admired}" style="font-size: 40px; margin-top: -10px; color: #B3B3B3" class="icon ion-heart" ng-click="likePost()"></i>
            </div>
            <div class="flag-link">
                <small ng-click="flagPost()">Flag Post</small>
            </div>
        </div>
        <div class="text-center">
            <p style="color: #6E6E6E">
                {{currentPost.commentsCount}} <span ng-if="currentPost.commentsCount === 1">Reply</span>
                <span ng-if="currentPost.commentsCount !== 1">Replies</span>
            </p>
        </div>

    </div>
    <div ng-repeat="comment in comments" ng-init="checkFavs(comment, $index)">
        <div class="container">
            <div class="row">
                <div class="col col-80">
                    <div class="row">
                        <div class="col col-10">
                            <i style="color:#5677FC;font-size:13px" class="icon ion-chatbox-working"></i>
                        </div>
                        <div class="col" style="margin-left:-10px; color: #6E6E6E">
                            <p>
                                <span style="color: #5677FC">{{comment.user}}</span>
                                <div ng-if="!comment.hideFlagged">
                                    {{comment.text}}
                                    <div ng-if="comment.flagged" class="flagged-text" ng-click="removeFlag(comment)">
                                        <i class="icon ion-ios-color-wand"></i> Remove Flag
                                    </div>
                                </div>
                                <div ng-if="comment.flagged" ng-click="toggleFlagged(comment)" class="flagged-text"><i class="icon ion-flag"></i> {{comment.flaggedText}}</div>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col text-center">
                    <p class="like-count">
                        {{comment.likes}}
                    </p>
                    <i ng-class="{ redIcon: comment.admired || commentAdmired}" class="icon ion-heart heart-pos" ng-click="likeComment(comment); commentAdmired = true"></i>
                </div>
            </div>
            <div class="row" style="margin-top: -30px">
                <div class="col">
                    <div class="row">
                        <div class="col col-10">
                            <i style="color: #5677FC; font-size: 13px" class="icon ion-clock"></i>
                        </div>
                        <div class="col" style="margin-left: -20px; color: #6E6E6E">
                            <span am-time-ago="comment.timestamp"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="!comment.flagged">
                <div class="col">
                    <div class="flag-comment" ng-click="flagComment(comment, $index)">
                        <i class="icon ion-flag"></i> report as inappropriate
                    </div>
                </div>
            </div>
        </div>
        <hr style="border-top: 1px solid #F1F1F2">
    </div>
</ion-content>
<ion-footer-bar class="bar-stable item-input-inset" ng-click="openModal()">
    <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
    </label>
    <button class="button button-clear" ng-click="sendMessage()">
        <span style="color: #5797DF">Send</span>
    </button>
</ion-footer-bar>
<script id="my-modal.html" type="text/ng-template">
    <ion-modal-view>
        <ion-header-bar>
            <h1 class="title">Add a comment</h1>
        </ion-header-bar>
        <ion-content>
            <div class="container">
                <form name="addCommentForm">
                    <label class="item item-input">
                        <span class="input-label">Comment</span>
                        <input autofocus type="text" ng-model="comment">
                    </label>
                    <button class="button button-block button-positive" ng-click="addComment(comment)">
                        Add Comment
                    </button>
                    <button class="button button-block button-default" ng-click="closeModal()">
                        Cancel
                    </button>
                </form>
            </div>
        </ion-content>
    </ion-modal-view>
</script>
