<navbar></navbar>
<ion-content>
    <div class="post-detail-box">
          <div class="row">
            <div class="col col-20">
              <img style="border-radius:100%; height:50px" ng-src="{{currentPost.profilePic}}" alt="" />
            </div>
            <div class="col">
              <h3 style="display: block; color: #6E6E6E">{{currentPost.user}}</h3<br>
                <div style="display:block">
                  <a style="font-size:13px; font-weight: normal; color: #6E6E6E">
                    <i style="color:#48BB48;font-size:13px"  class="icon ion-ios-location"></i>
                    Oakland, CA
                  </a>
                  <a style="font-size:13px; font-weight: normal; padding-left:17px; color: #6E6E6E">
                    <i style="color:#5677FC;font-size:13px"  class="icon ion-clock"></i>
                    <span am-time-ago="currentPost.timestamp"></span>
                  </a>
                </div>
            </div>
          </div>
      <div class="row">
        <div class="col col-80" style="color: #6E6E6E; padding-bottom:30px">
          <p>{{currentPost.text}}</p>
        </div>
        <div class="col text-center" style="margin-left:32px">
          <p style=" font-size:20px; margin-bottom:-10px; color: #6E6E6E">
            {{currentPost.likes}}
          </p><br>
          <i ng-class="{ redIcon: admired}" style=" font-size:40px; margin-top:-10px; color:#B3B3B3" class="icon ion-heart" ng-click="like()"></i>
        </div>
      </div>
      <div class="text-center">
        <p style="color: #6E6E6E">{{currentPost.commentsCount}} <span ng-if="currentPost.commentsCount === 1">Reply</span>
        <span ng-if="currentPost.commentsCount !== 1">Replies</span></p>
      </div>

    </div>
    <div ng-repeat="comment in comments">
        <div class="container">
          <div class="row">
            <div class="col col-80">
              <div class="row">
                <div class="col col-10">
                  <i style="color:#5677FC;font-size:13px"  class="icon ion-chatbox-working"></i>
                </div>
                <div class="col" style="margin-left:-10px; color: #6E6E6E">
                  <p><span style="color:#5677FC">{{comment.user}}</span> {{comment.text}}</p>
                </div>
              </div>
            </div>
            <div class="col text-center" style="margin-left:15px">
              <br>
              <p style=" font-size:20px; margin-bottom:-10px; color: #6E6E6E">
                {{comment.likes}}
              </p><br>
              <i ng-class="{ redIcon: comment.admired || commentAdmired}" style=" font-size:40px; margin-top:-10px; color:#B3B3B3" class="icon ion-heart admired" ng-click="commentLike(comment, $index); commentAdmired = true"></i>
            </div>
          </div>
          <div class="row" style="margin-top:-30px">
            <div class="col">
              <div class="row">
                <div class="col col-10">
                  <i style="color:#5677FC;font-size:13px"  class="icon ion-clock"></i>
                </div>
                <div class="col" style="margin-left:-20px; color: #6E6E6E">
                  <span am-time-ago="comment.timestamp"></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr style="border-top: 1px solid #F1F1F2">
    </div>
</ion-content>
<ion-footer-bar class="bar-stable item-input-inset" ng-click="openModal()">
  <label class="item-input-wrapper">
    <input type="text" placeholder="Type your message" on-return="sendMessage(); closeKeyboard()" ng-model="data.message" on-focus="inputUp()" on-blur="inputDown()" />
  </label>
  <button class="button button-clear" ng-click="sendMessage()">
    <span style="color: #5797DF">Send</span>
  </button>
</ion-footer-bar>
<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar>
      <h1 class="title">Add a comment</h1>
    </ion-header-bar>
    <ion-content>
    <div class="container">
    <form name="addCommentForm">
      <label class="item item-input">
        <span class="input-label">Comment</span>
        <input autofocus type="text" ng-model="comment">
      </label>
      <button class="button button-block button-positive" ng-click="addComment(comment)">
        Add Comment
      </button>
      <button class="button button-block button-default" ng-click="closeModal()">
        Cancel
      </button>
    </form>
    </div>
    </ion-content>
  </ion-modal-view>
</script>
