<navbar></navbar>
<ion-content>
  <div class="container">
    <div ng-repeat="item in floor" >
      <div style="border-bottom: 1px solid #d6d6d6; background: #fff">
        <div class="row">
          <div class="col col-80">
            <br>
            <div class="well" style="padding:0 18px;">
              <p ng-click="postDetails($index)">
                {{item.text | characters:125 }}
              </p>
            </div>
          </div>
          <div class="col text-center">
            <br>
            <br>
            <p style=" font-size:20px; margin-bottom:-10px">
              {{item.likes}}
            </p><br>
              <i ng-class="{ redIcon: item.admired}" style=" font-size:40px; margin-top:-10px; color:#717171" class="icon ion-heart" ng-click="like(item, $index)"></i>
          </div>
        </div>
        <div ng-click="postDetails($index)" class="row">
          <a style="background: transparent; color: #717171; font-size:16px; padding-left: 40px" class="item post-details item-icon-left" href="#">
            <i style="color:#5677FC;font-size:16px"  class="icon ion-clock"></i>
            <span am-time-ago="item.timestamp"></span>
          </a>
          <a style="background: transparent; color: #717171; font-size:16px; padding-left: 40px" class="item post-details item-icon-left" href="#">
            <i style="color:#5677FC;font-size:16px"  class="icon ion-chatbox-working"></i>
            {{ item.commentsCount}} <span ng-if="item.commentsCount === 1">Reply</span>
            <span ng-if="item.commentsCount !== 1">Replies</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<tabs></tabs>
<script id="my-modal.html" type="text/ng-template">
  <ion-modal-view>
    <h1>Make a Post</h1>
    <ion-content>
    <div class="container">
      <label class="item item-input">
        <span class="input-label">Post</span>
        <input type="text" ng-model="post.text">
      </label>
      <button class="button button-block button-positive" ng-click="addPost()">
        New Post
      </button>
      <button class="button button-block button-default" ng-click="closeModal()">
        Cancel
      </button>
    </div>
    </ion-content>
  </ion-modal-view>
</script>
<!-- <p>{{ item.timestamp | date : format : timezone}}</p> -->
