<navbar></navbar>
<ion-content>
  <div class="container">
    <div ng-repeat="friend in reqs | filter: {status: 'accepted'}">
      <a href="/#/userDetail/{{friend.friendId}}">
        <div class="card">
          <div class="item item-text-wrap">
            <h1>{{friend.name}}</h1>
            <!-- <p>{{friend.cancer}}</p> -->
            <a class="button button-block supGreen whiteText" ng-click="createChat(friend.friendId, friend.name)">&#8710;</a>
          </div>
        </div>
      </a>
    </div>
  </div>
</ion-content>
<tabs></tabs>