<otherNav></otherNav>
<ion-content class="container containerFullWidth scroll-content">
	<div class="welcomeBox text-center">
    <h4>Hello Friend!</h4>
    <h4>Are you a...</h4>
  </div>
   <div class="list">
      <a class="button button-block fightBlue whiteText noBorder bigRaisedButton" ng-click="fss('Fighter', 'typeInfo')">
          Fighter
      </a>
      <a class="button button-block surYellow whiteText noBorder bigRaisedButton" ng-click="fss('Survivor', 'typeInfo')">
          Survivor
      </a>
      <a class="button button-block supGreen whiteText noBorder bigRaisedButton" ng-click="fss('Supporter', 'typeInfo')">
          Supporter
      </a>
    </div>
 
    
</ion-content>