<othernav></othernav>
<ion-content class="container">
    <div class="inputBox walkthroughTextContainer">
        <label class="item item-input">
          <span class="input-label">Email</span>
          <input type="email" ng-model="user.email">
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="user.password">
        </label>
    </div>
    <div class="buttonsBox">
        <a class="button button-block csRed whiteText noBorder bigRaisedButton" ng-click="login(user)">Login</a>
        <a class="button button-block fightBlue whiteText noBorder bigRaisedButton" ng-click="">Login with Facebook</a>
        <h6 class="text-center">Don't have an account? <span ui-srf="splash">Sign up</span></h6>
    </div>
</ion-content>
