<navbar></navbar>
<ion-content class="container">
  
  <div class="list">
      <div>
        <a ui-sref="messages" class="item">
          Messages
        </a>
      </div>
      <div>
        <a ui-sref="explore" class="item">
          Posts
        </a>
      </div>
      <div>
        <a ui-sref="explore" class="item">
          Favorites
        </a>
      </div>
      <div>
        <a ui-sref="friends" class="item">
          Friends
        </a>
      </div>
      <div>
        <a ui-sref="explore" class="item">
          My Profile
        </a>
      </div>
      <div>
        <a ui-sref="edit-user" class="item">
          Settings
        </a>
      </div>
  </div>
   
</ion-content>