FUCK

<!-- <ion-content>
  <div class="container">
    <div class="list">
    	<a ng-repeat="connection in pendingReqs" class="item item-button">
            You have NO new notifications. 
            <h3>{{connection.friendId}}</h3>
            <button class="button csRed notiButt" ng-click="acceptReq({{connection.friendId}})">
               <i class="icon ion-person-add"></i>
            </button>
            <button class="button csGrey notiButt" ng-click="declineReq({{connection.friendId}})">
                <i class="icon ion-close-circled"></i>
            </button>
      	</a>
    </div>
  </div>
</ion-content> -->