<ion-content class="container">
    <label class="item item-input">
      <span class="input-label">Email</span>
      <input type="text" ng-model="user.email">
    </label>
    <label class="item item-input">
      <span class="input-label">Name</span>
      <input type="text" ng-model="user.name">
    </label>
    <label class="item item-input">
      <span class="input-label">Password</span>
      <input type="password" ng-model="user.password">
    </label>
    <button class="button button-block csRed whiteText" ng-click="register(user)">CREATE ACCOUNT</button>
</ion-content>
