
<ion-content hide-nav-bar="true" class="container containerFullWidth csRed">
	<div class="text-center container walkthroughImgContainer">
      <img class="logo" src="../img/walkthrough1.png">
    </div>
    <div class="text-center  walkthroughTextContainer">
      <h4 class="whiteText">Explore</h4>
      <div class=" text-center">
      		<p class="whiteText">Connect and build relationships
			with people just like you!
			</p>
		</div>
    </div>

    <div class="row buttonsBox">
		<div class="text-center col-50">
	      <a class= "button button-block button-light whiteText smallRaisedButton" ui-sref="register">SIGN UP</a>
	    </div>
	    <div class="text-center col-50">
	      <a class= "button button-block button-light smallRaisedButton" ui-sref="login">LOGIN</a>
	    </div>
	</div>    
	    <div class="text-center">
	      <a class= "button button-block facebookBlue whiteText bigRaisedButton noBorder" ui-sref="login">SIGN UP WITH FACEBOOK</a>
	    </div>


</ion-content>
