
<ion-content hide-nav-bar="true" class="container flex-container">
	<div class="text-center container">
      <img class="logo" src="http://cancerspot.co/img/lone_icon.png">
    </div>

    <div class="row">
		<div class="text-center col-50">
	      <a class= "button button-block button-light whiteText smallRaisedButton" ui-sref="register">SIGN UP</a>
	    </div>
	    <div class="text-center col-50">
	      <a class= "button button-block button-light smallRaisedButton" ui-sref="login">LOGIN</a>
	    </div>
	</div>    
	    <div class="text-center">
	      <a class= "button button-block facebookBlue whiteText bigRaisedButton noBorder" ui-sref="login">SIGN UP WITH FACEBOOK</a>
	    </div>


</ion-content>
