<ion-nav-bar  class="bar bar-header csRed">
  <ion-nav-buttons side="left">
    <button ng-if="isActive('/explore', '/messages', '/floor', '/friends', '/notifications')" class="button button-icon icon whiteText ion-navicon" ng-click="toggleLeft()"></button>
    <button ng-if="!isActive('/explore', '/messages', '/floor', '/friends', '/notifications')" class="button button-icon icon whiteText ion-arrow-left-c" ng-click="goBack()"></button>
  </ion-nav-buttons>
  <ion-nav-title style="text-align:left; margin-left: 20%" align-title="left" class="h1 title whiteText">
    <p>{{title}}</p>
  </ion-nav-title>
    <ion-nav-buttons side="right">
    <button class="button button-icon icon whiteText addPostButton ion-compose" ng-click="openModal()" ng-if="isActive('/floor')"></button>
    <button class="button button-icon icon whiteText ion-android-more-vertical" ng-click="editUser()"></button>
    </ion-nav-buttons>
</ion-nav-bar>
