<navbar></navbar>
<ion-content>
  <div class="container">
    <div class="profilePicBox fightBlue text-center">
    	<img class="circle" src="img/avatar.jpg">
        <h4 class="whiteText">{{user.name}}</h4>
    </div>
    <div class="locationBox row text-center">
    	<a class="col col-50 item-avatar-left">
            <i class="ion-icecream"></i>
            {{user.level}}
        </a>
        <a class="col col-50 item-avatar-left">
            <i class="ion-ios-location"></i>
            Location, US
        </a>
    </div>
    <div class="card noBorder text-center">
    	<h3>About</h3>
    	<div class="item item-text-wrap">{{user.bio}}</div>
    </div>
  	<a class="buttonRound noBorder supGreen whiteText" ng-click="addFriend()">
    	+
    </a>
  </div>
</ion-content>
<tabs></tabs>