<navbar></navbar>
<ion-content>
  <div class="container">
    <div class="profilePicBox fightBlue text-center coverPhoto">
    	<!-- <img class="coverPhoto"src="img/trianglesBlue.png">
 -->        <img class="circle z2" src="img/avatar.jpg">
        <h3 class=" z2">{{user.name}}</h3>

         <a class="z2 centerIt buttonRound noBorder addGreen whiteText"  ng-click="addFriend()">
        +
    </a>
    </div>
    
    <div class="locationBox row text-center">
    	<a class="col col-50 item-avatar-left">
            <i class="ion-icecream"></i>
            {{user.cancer}}
        </a>
        <a class="col col-50 item-avatar-left">
            <i class="ion-ios-location"></i>
            Location
        </a>
    </div>
    <div class="card aboutBox noBorder text-center">
        <div class="item item-text-wrap">
            <h2 class="padBottom"id="boldFont">About</h2>
            {{user.bio}}
        </div>
    </div>
  	<!-- <a class="buttonRound noBorder addGreen whiteText" ng-click="addFriend()">
    	+
    </a> -->
  </div>
</ion-content>
<tabs></tabs>